.card{
  background-color: white;
  display: flex;
  padding: 10px;
  min-height: 100px;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 10px;
  transition: ease-out 300ms;
}
.card:hover{
  background-color: #85ccae;
}
